.animation-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 auto;
  width: 100%;

  padding-top: 3em;
}

.app-container {
  min-height: 100vh;
  padding: 12px;
  box-sizing: border-box;
}

.controls {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.main-button {
  font-family: "VT323", monospace;
  flex: 0 0 auto;

  font-size: 2em;
  padding: 10px 10px;
  background: black;
  color: #FFF;

  border: solid 2px #ffd220;

  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 0px 0px #ffd220, 0 0 9px 2px #ffd220;
}

.main-button:hover {
  background: #395fcf;
  text-decoration: none;

  box-shadow: 0 0 0px 0px #ffd220, 0 0 9px 2px #ffd220;
}

.main-button:active {
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
  background: #15234d;

  box-shadow: 0 0 0px 0px #ffd220, 0 0 9px 2px #ffd220;
}

.main-button:disabled {
  background: black;
  border-color: #333;
  color: #ccc;

  box-shadow: none;
  cursor: not-allowed;
}

.question-input {
  font-family: "VT323", monospace;

  flex: 1 1 auto;

  min-width: 0;

  color: #ffd220;
  font-size: 2em;

  border: 2px solid #54d8ef;
  background-color: black;

  padding: 10px 10px;
  box-shadow: 0 0 0px 0px #54d8ef, 0 0 9px 2px #54d8ef;
}