a {
  color: #ffd220;
}

.loading-screen {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading-button {
  min-width: 150px;
}

.animation-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 auto;
  width: 100%;

  padding-top: 3em;
}

.app-container {
  min-height: 100vh;
  padding: 12px;
  box-sizing: border-box;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-button {
  font-family: monaco, Consolas, Lucida Console, monospace;
  box-sizing: border-box;
  height: 53px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 0px 20px 20px 0px;

  flex: 0 0 auto;

  font-size: 1.5em;
  padding: 10px 10px;
  background: black;
  color: #FFF;

  border: solid 2px #ffd220;

  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 0px 0px #ffd220, 0 0 9px 2px #ffd220;
}

.main-button:hover {
  background: #395fcf;
  text-decoration: none;

  box-shadow: 0 0 0px 0px #ffd220, 0 0 9px 2px #ffd220;
}

.main-button:active {
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
  background: #15234d;

  transform: scale(0.95);

  box-shadow: 0 0 0px 0px #ffd220, 0 0 9px 2px #ffd220;
}

.main-button:disabled {
  background: black;
  border-color: #333;
  color: #ccc;

  box-shadow: none;
  cursor: not-allowed;
}

.main-button img {
  height: 1.3em;
  margin-left: -3px;
}

.main-button:disabled img {
  opacity: 0.5;
}

.question-input {
  font-family: monaco, Consolas, Lucida Console, monospace;
  box-sizing: border-box;
  height: 53px;

  border-radius: 20px 0px 0px 20px;

  flex: 1 1 auto;

  min-width: 0;

  color: #ffd220;
  font-size: 1.5em;

  border: 2px solid #54d8ef;
  background-color: black;

  padding: 10px 10px;
  box-shadow: 0 0 0px 0px #54d8ef, 0 0 9px 2px #54d8ef;
}

.dialog-trigger-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: black;
  color: white;
  border: 2px solid #54d8ef;
  font-size: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 0px 0px #54d8ef, 0 0 9px 2px #54d8ef;
  transition: all 0.2s ease-in-out;
  font-family: monaco, Consolas, Lucida Console, monospace;
  padding: 0;
}

.dialog-trigger-button:hover {
  background-color: #395fcf;
}

.dialog-trigger-button:active {
  transform: scale(0.95);
  background-color: #15234d;
}